DB_HOST=tu_host
DB_NAME=mi_basededatos
DB_USER=tu_usuario
DB_PASS=tu_contraseña

# antes de usar, por favor importar el archivo sql_apirest.sql que se encuentra en la carpeta /db
# tener instalado composer 
# usar el comando $ composer require vlucas/phpdotenv
# por favor copiar el archivo .env.example como .env y 
# modificar las variables de entorno según su propia configuración.